mixin card(item)
  a(href=item.href).column.is-one-third
    .card
      .card-header
        .card-header-icon
          span.icon.is-large
            i(class=attributes.class).fas.fa-2x
        .card-header-title= item.title
      .card-content
        p= item.description