mixin field(label, name, visible, type, data)
  .field
    if visible
      label.label.is-hidden= label
    else
      label.label= label
    .control
    input.input(type= type name= name value= data)