.overlay#overlay(onclick="closeNav()")
  .side__menu#side-menu
    ul.menu__container
      li.menu__item
        span
          i.fas.fa-building
        a(href="#") Empresa
      li.menu__item
        span
          i.fas.fa-cubes
        a(href="#") Modulos
      li.menu__item
        span
          i.fas.fa-user
        a(href="#") Usuarios
      li.menu__item
        span
          i.fas.fa-cubes
        a(href="#") Modulos