doctype html
html
  include includes/head.pug
  body.is-fullhd
    .columns.is-gapless
      .column.is-one-quarter.is-paddingless.is-hidden-mobile
        include includes/header.pug
        include includes/sidemenu.pug
      .column
        include includes/header.pug
        .container.is-marginless
          form#user-detail(method="POST" action="/users-save")
            .card
              .card-header= title
              .card-content
                  -var newUser = user
                  include includes/field.pug
                  +field("Id", true, "hidden", newUser._id)
                  +field("Nombre", false, "text", newUser.name)
                  +field("Password", false, "password", newUser.password)
                  +field("Correo", false, "email", newUser.email)
              .card-footer
                include includes/button.pug
                .card-footer-item
                  +button("Cancelar", "http://localhost:4000/users", true)(class="fa-ban")
                if user._id
                  .card-footer-item
                    +button("Eliminar", "http://localhost:400/users-delete/"+newUser._id, true)(class="fa-times")
                  .card-footer-item
                    +button("Guardar")
                else
                  .card-footer-item
                    +button("Confirmar")
    script(src="../../static/js/fontawesome-all.js")