html
  head
    meta(charset="UTF-8") 
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    title!= title
    link(rel="stylesheet",href="/static/css/index.css")
    
  body
    .main__container
      header.header__container
        .button__container.left
          span 
            i.fas.fa-bars
        .header__title Consola
        .button__container.right
          span
            i.fas.fa-ellipsis-v
      main.content__container
        .card__container
          .card__content Contenido Tarjeta
        .card__container
          .card__content Contenido Tarjeta
        .card__container
          .card__content Contenido Tarjeta
        .card__container
          .card__content Contenido Tarjeta
      footer.footer__container
        .footer__content Pie de Pagina &copy; 2018
    script(src="/static/js/fontawesome-all.js")
    