doctype html
html
  include includes/head.pug
  body
    .columns
      .column.is-one-quarter.is-paddingless.is-hidden-mobile
        include includes/header.pug
        include includes/sidemenu.pug
      .column.is-paddingless
        include includes/header.pug
        main
          .container.is-marginless
            .columns.is-multiline.is-gapless
              - var menus = [{href:'#', icon:"fa-building", title:"Empresa", description:"Configurar las empresas que pueden utilizar el sistema."},{href:'#', icon:"fa-cubes", title:"Modulos", description:"Configurar los modulos que pueden utiliza el sistema."},{href:'http://localhost:4000/users', icon:"fa-user", title:"Usuarios", description:"Configurar los usuarios del sistema."},{href:'#', icon:"fa-lock", title:"Permisos", description:"Configurar los permisos que possen los usuarios del sistema."},{href:'#', icon:"fa-id-card", title:"Perfiles", description:"Configurar los perfiles que pueden utilizar los usuarios del sistema."}]
              each menu in menus
                include includes/card.pug
                +card(menu)(class=menu.icon)          
    script(src="static/js/fontawesome-all.js")