html
  head
    meta(charset="UTF-8") 
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    title!= title
    link(rel="stylesheet",href="/static/css/index.css")
    
  body
    .overlay#overlay(onclick="closeNav()")
      .side__menu#side-menu
        ul.menu__container
          li.menu__item
            span
              i.fas.fa-building
            a(href="#") Empresa
          li.menu__item
            span
              i.fas.fa-cubes
            a(href="#") Modulos
          li.menu__item
            span
              i.fas.fa-user
            a(href="#") Usuarios
          li.menu__item
            span
              i.fas.fa-cubes
            a(href="#") Modulos
    .main__container
      header.header__container
        .button__container.left
          span(onclick="openNav()")
            a(href="#")
              i.fas.fa-bars
        .header__title Consola
        .button__container.right
          span
            a(href="#")
              i.fas.fa-ellipsis-v
      main.content__container
        .card__container
          .card__content
            i.fas.fa-building.fa-2x
            span empresa
        .card__container
          .card__content
            i.fas.fa-cubes.fa-2x
            span modulos
        .card__container
          .card__content
            i.fas.fa-user.fa-2x
            span usuarios
        .card__container
          .card__content
            i.fas.fa-user.fa-2x
            span modulos
      footer.footer__container
        .footer__content Pie de Pagina &copy; 2018
    script(src="/static/js/fontawesome-all.js")
    script(src="/static/js/index.js")