doctype html
html
  include includes/head.pug
  body
    .columns.is-gapless
      .column.is-one-quarter.is-paddingless.is-hidden-mobile
        include includes/header.pug
        include includes/sidemenu.pug
      .column
        include includes/header.pug
        .container
          .card
            .card-content
              if message !== nil
                .notification.is-danger
                  button.delete            
                  p= message
              else
                if list !== undefined
                  table.table.is-striped.is-fullwidth
                    include includes/tablehead.pug
                      include includes/headercolumn.pug
                      - var columns = ["","Nombre","Password","Email","Eliminar"]
                      each column in columns
                        include includes/tablecolumn.pug
                        +headercolumn(column)
                    tbody
                      each user in list
                        tr
                          td
                            a(href="http://localhost:4000/users-edit/" + user._id)
                              span.icon
                                i.fas.fa-edit                    
                          td= user.name
                          td= user.password
                          td= user.email
                          td
                            a(href="http://localhost:4000/users-delete/" + user._id)
                              span.icon
                                i.fas.fa-times
                    tfoot
            .card-footer
              .card-footer-item
                include includes/button.pug
                +button("Nuevo Usuario", "http://localhost:4000/user-new", true)(class="fa-plus")                
    script(src="static/js/fontawesome-all.js")            
