body {
    display: flex;
    background-color: #b700ff;
}



header, footer {
    display: flex;
    background-color: #b97878;
}

@media(max-width:320px) {
    .drawer {
        background-color: #9cce64;
        display: none;
    }
}

@media(min-width:321px) {
    .drawer {
        background-color: #c0dd9f;
    }
}