main.content__container
  .card__container
    .card__content
      i.fas.fa-building.fa-2x
      span empresa
  .card__container
    .card__content
      i.fas.fa-cubes.fa-2x
      span modulos
  .card__container
    .card__content
      i.fas.fa-user.fa-2x
      span usuarios
  .card__container
    .card__content
      i.fas.fa-user.fa-2x
      span modulos