header.header__container
    .button__container.left
      span(onclick="openNav()")
        a(href="#")
          i.fas.fa-bars
    .header__title Consola
    .button__container.right
      span
        a(href="#")
          i.fas.fa-ellipsis-v